[
  {
    "name": "Kind 1",
    "benutzername": "kundennummer-oder-login-kind-1",
    "passwort": "passwort-kind-1",
    "ausschluesse": ["Fisch"],
    "vorlieben": "mag lieber vegetarisch, keine scharfen Gerichte"
  },
  {
    "name": "Kind 2",
    "benutzername": "kundennummer-oder-login-kind-2",
    "passwort": "passwort-kind-2",
    "ausschluesse": ["Fisch", "Schweinefleisch"],
    "vorlieben": ""
  }
]
